# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Dependency directories
venv_name/
env/
env_bak/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/
